footer {
    margin-top: 80px;
    border-top: 2px solid #222;
}

#bottomMenu {
    width: 100%;
    height: 20px;
    position: relative;
    margin-left: 140px;
}

#bottomMenu ul {
    margin-top: 15px;
}

#bottomMenu ul li {
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #ddd;
    list-style: none;
}

#bottomMenu ul li:last-child {
    border-right: none;
}

#bottomMenu ul li a, #bottomMenu ul li a:visited {
    font-size: 15px;
    color: #666;
    text-decoration: none;
}

#company {
    clear: both;
    margin-top: 25px;
    margin-left: 200px;
}

h3{
    font-size: 18px;
    color: darkgrey;
}